.slide-btn{
    position: absolute;
        left: 390px;
        top: 287px;
        z-index: 6;
        height: 100px;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        outline: none;
        cursor: pointer;
        color: black;
        border-radius: 0 15px 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.slide-btn.close{
    position: absolute;
    top: 287px;
    left: 0px;
    height: 100px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    color: black;
    border-radius: 0 15px 15px 0;
    transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

